body{
	background-color: #ffcbdb;
}
.header{
	text-align: center;
	height: 300px;
	padding: 12px;
	background-color: ;
}
.foto{
	width: 200px;
	height: 200px;
}
.nome{
	font-size: 17px;
	margin-top: 14px;
}
.redes_sociais{
	list-style: none;
	text-align: center;
	padding: 0;
}
.redes_sociais li{
	display: inline-block;
	margin: 5px;
}
a{
	text-decoration: none;
	color: #545454;
}
a:hover{
	color: red;
}
.email{
	width: 20px;
	height: 20px;
}
h1{
	font-size: 200%;
	text-align: center;
}
p{
	font-size: 110%;
}